---
layout: default
---

{% if page.image.cover %}
  <div class="cover-image">
    {% if page.image.cover contains 'http' %}
      <img src="{{ page.image.cover }}" alt="{{ page.title }} external cover image">
    {% else %}
       <img src="{{ page.image.cover }}" alt="{{ page.title }} cover image" | relative_url >
    {% endif %}
    {% if page.image.credit %}
      <span class="image-credit">image by: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
    {% if page.image.label %}
      <span class="image-label"><h1>{{ page.image.label }}</h1></span>
    {% endif %}
  </div><!-- /.cover-image -->
  <div class="double-line"></div>
{% endif %}

<div id="md-content">
  {{ content }}
</div><!-- /.md-content -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<div class="grid-news">
  {% for post in site.categories.news limit:6 %}
    <div class="gridbox">
      <h6>{{ post.title }}</h6>
      {% if post.image.cover %}
        {% if post.image.cover contains 'http' %}
          <img src="{{ post.image.cover }}" alt="{{ post.title }} external cover image" >
        {% else %}
          <img src="{{ post.image.cover }}" alt="{{ post.title }} cover image" | relative_url>
        {% endif %}
      {% else %}
        {% capture image_cover %}{{ site.baseurl }}/assets/images/posts/news/default.jpg{% endcapture %}
        <img src="{{ image_cover }}" alt="{{ post.title }} cover image" | relative_url>
      {% endif %}
      <a href="{{ site.baseurl }}{{ post.url }}">read more ...</a>
    </div> <!-- gridbox  -->
  {% endfor %}
</div> <!-- grid-news  -->


{% include paginator.html %}
