/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  display: table;
  margin-bottom: 1em;
  width: 100%;
  max-width: none;
  table-layout: fixed;
  font-family: $global-font-family;
  font-size: $type-size-6;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $border-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

tr {
  display: table-row;
  vertical-align: middle;
}

td {
  display: table-cell;
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
  vertical-align: middle;
  text-align:left;
}

